Repository kapral18/karenjs.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

chore: remove hot-reload hack
  gatsby-node.js
  package.json
  yarn.lock
Due: eslint --fix --quiet, prettier --write

chore: update deps and small design tweaks
  package.json
  src/components/Layout.tsx
  src/components/PersonInfoCard.tsx
  src/components/Share.tsx
  src/pages/about/index.md
  src/pages/blog/2019-01-22/hello-world.md
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

chore: update deps and small design tweaks (#3)
  package.json
  src/components/Layout.tsx
  src/components/PersonInfoCard.tsx
  src/components/Share.tsx
  src/pages/about/index.md
  src/pages/blog/2019-01-22/hello-world.md
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

chore: devto icon + svg plugin
  gatsby-config.js
  package.json
  src/components/PersonInfoCard/PersonInfoCard.tsx
  src/components/PersonInfoCard/assets/devto.inline.svg
  src/components/PersonInfoCard/index.ts
  src/pages/about/index.md
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

chore: devto icon + svg plugin (#4)
  gatsby-config.js
  package.json
  src/components/PersonInfoCard/PersonInfoCard.tsx
  src/components/PersonInfoCard/assets/devto.inline.svg
  src/components/PersonInfoCard/index.ts
  src/pages/about/index.md
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

[ImgBot] Optimize images
  src/components/PersonInfoCard/assets/devto.inline.svg
  src/images/social/twitter.svg
  src/pages/blog/this-mechanics-part-1/coin-telescope.jpg
  src/pages/blog/this-mechanics-part-2/this-keyword.png
Due: none

fix(seo): fix og image
  src/components/Seo.tsx
Due: eslint --fix --quiet, prettier --write

feat(links): remove link to medium
  gatsby-config.js
  package.json
  src/components/PersonInfoCard/PersonInfoCard.tsx
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

fix: typos
  package.json
  src/pages/blog/understanding-this-one-example-at-a-time/index.md
  yarn.lock
Due: prettier --write

fix: typos
  package.json
  src/pages/blog/understanding-this-one-example-at-a-time/index.md
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

fix: heading url
  src/pages/blog/understanding-this-one-example-at-a-time/index.md
Due: prettier --write

feat: add tags
  src/pages/blog/understanding-this-one-example-at-a-time/index.md
Due: prettier --write

improve(understanding-this): wording
  package.json
  src/pages/blog/understanding-this-one-example-at-a-time/index.md
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

chore: update deps
  package.json
  src/components/Appearance.tsx
  src/components/GenericError.tsx
  src/components/Header/Header.tsx
  src/components/Header/styles.tsx
  src/components/OutLink.tsx
  src/components/PersonInfoCard/services/getSocialIcon.ts
  src/components/Post.tsx
  src/components/Seo.tsx
  src/components/Share.tsx
  src/services/media.ts
  src/services/settings.ts
  src/templates/About/index.tsx
  src/templates/BlogPost/index.tsx
  yarn.lock
Due: eslint --fix --quiet, prettier --write

feat: connect brave rewards
  .well-known/brave-rewards-verification.txt
  package.json
Due: prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

feat: add my new face
  src/components/PersonInfoCard/PersonInfoCard.tsx
  src/components/PersonInfoCard/services/getSocialIcon.ts
  src/images/avatar_fresh.jpg
  src/images/logo.png
  src/images/maface.png
  src/images/social/twitter.svg
  src/pages/about/avatar_fresh_full.jpg
  src/pages/about/index.md
  src/pages/blog/hello-world/oldman.jpg
  src/pages/blog/understanding-this-one-example-at-a-time/coin-telescope.jpg
Due: eslint --fix --quiet, prettier --write

feat: add keybase
  .well-known/keybase.txt
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade deps
  .babelrc
  .browserslistrc
  .eslintrc.js
  .husky/.gitignore
  __mocks__/gatsby.js
  babel.config.js
  codegen.yml
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  jest.config.js
  jest.setup.js
  loadershim.js
  package.json
  src/components/PersonInfoCard/PersonInfoCard.tsx
  src/components/PersonInfoCard/types.ts
  src/components/Seo.tsx
  src/pages/appearances/index.tsx
  src/pages/blog/understanding-this-one-example-at-a-time/index.md
  src/services/isObjectOfType.ts
  src/templates/BlogPost/index.tsx
  src/types/generated/index.ts
  yarn.lock
Due: eslint --fix --quiet, prettier --write

fix: typo in arrow function callback section of "understanding this"
  src/pages/blog/understanding-this-one-example-at-a-time/index.md
Due: prettier --write

fix: husky and cv link
  .husky/pre-commit
  .huskyrc
  package.json
  src/components/Header/Header.tsx
  yarn.lock
Due: eslint --fix --quiet, prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade typescript from 4.3.4 to 4.6.2
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade eslint-plugin-react-hooks from 4.2.0 to 4.3.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @typescript-eslint/parser from 4.28.0 to 4.33.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @typescript-eslint/eslint-plugin from 4.28.0 to 4.33.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{js,ts,tsx,jsx}
  prettier --write: (any of: *.{js,ts,tsx,jsx}) or (any of: *.{css,md,mdx,json})
